{% extends base.html %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap-table.min.css') }}">
{% end %}
{% block content_title %}会员管理{% end %}
{% block content%}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">会员列表</h3>
    </div>
    <div class="box-body">
        <div id="toolbar">
        </div>
        <table id="table" data-toggle="table" data-classes="table table-hover" data-undefined-text="-" data-striped="true" data-pagination="true" data-search="true" data-search-on-enter-key="true" data-show-toggle="true" data-locale="zh-CN" data-escape="true" data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-sortable="true">手机号</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member['phone'] }}</td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}
{% block script %}
<script type="text/javascript" src="{{ static_url('js/bootstrap-table.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/bootstrap-table-zh-CN.min.js') }}"></script>
<script type="text/javascript">
    var $table = $('#table');
    moment.locale("zh-cn");

    // function dateFormatter(value, row, index) {
    //     result = [];
    //     if(value == '')
    //         result.push('-');
    //     else
    //         result.push(moment(value).format('LLLL'));
    //     return result.join('');
    // }
</script>
{% end %}